.header {
  position: static;
  z-index: 1000;
  width: 125vh;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 10px;
  background-color: #f8f9fa;
  border: 0.5px solid #ddd;
  border-radius: 30px;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.2);
}
.actions {
  display: flex;
}
.nav-link {
  cursor: pointer;
}

.nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #333;
}
.search-bar input {
  padding: 5px;
  width: 250px;
}
.actions .login-btn,
.actions .file-complaint-btn {
  margin-left: 10px;
  padding: 5px 10px;
  cursor: pointer;
}
.file-complaint-btn {
  color: white;
  background-color: #ea8c45;
  border: none;
  border-radius: 10px;
}

.file-complaint-btn:hover {
  background-color: #cc6924;
}
